<div class="banner-index">
  <h1>Save any kind of movies</h1>
</div>
<div class="container-index">
  <div class="d-flex justify-content-between">
    <div class="p-2">
      <h2>My Lists</h2>
    </div>
    <div class="newList-index">
      <a class="btn btn-success newMovie" href="/lists/new">Create a movie list</a>
    </div>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-3 card card-index justify-content-center align-items-center" style="background-image: linear-gradient(
      to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.8) 100%), url('<%= cl_image_path list.photo.key %>')">
        <%= link_to "#{list.name}", "/lists/#{list.id}", class: 'listItems-index'%>
      </div>
    <% end %>
  </div>
</div>
