// INDEX PAGE
.newList-index{
  color: white;
  font-weight: 500;
}

.listItems-index {
  text-decoration: none;
  color: white;
  font-weight: 900;
  // background-image: url("JustDoItTom.jpg");
  // background-size: 100%;
  // background-position: center;
}

.card-index{
  padding: 2px;
  margin: 5px;
  height: 150px;
  font-size: x-large;
  font-weight: 900;
  background-color: antiquewhite;
}
