// INDEX PAGE
.newList-index {
  color: white;
  font-weight: 500;
}

.listItems-index {
  text-decoration: none;
  color: white;
  font-weight: 900;
  // background-image: url("JustDoItTom.jpg");
  // background-size: 100%;
  // background-position: center;
}

.card-index {
  padding: 10px;
  height: 175px;
  font-size: x-large;
  font-weight: 900;
  border-radius: 20px;
  background-position: center;
  text-shadow: 0 0 5px rgb(112, 112, 112);
}

.card-show {
  margin: 5px;
  a {
    align-items: right;
    padding: 10px;
    text-decoration: none;
    color: red;
  }
}

.card-show .card-title {
  font-weight: bold;
}
