// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.card {
  padding: 2px;
  margin: 5px;
  height: 150px;
  font-size:x-large;
  font-weight: 900;
}

.banner {
  height: 50vh;
  background-image: url(../../images/movie_theatre.jpg);
}
